

div#recent-posts {}
div#recent-posts h4 {}
div#recent-comments {}
div#recent-comments h4 {}
div#recent-posts, div#recent-comments {position: relative;} /* need to properly postion the rss icons */
div#blogroll {}
div#blogroll h4{}

/* posts */
div.post {margin-bottom: 15px;}	/*border-bottom: 1px dotted #1D8ACB;*/

div.no-author div.post{	border-bottom: 1px dotted #1D8ACB;}/*border at bottom of post [just before comments] if post-author widget unavailable */

div.post-foot {margin-bottom: 15px;}

span.edit {margin-left: 3px;}

div.post-body, div.post-body p {white-space: pre-line;word-wrap:break-word}

.post-foot p {
	margin: 0;
	font-weight: bold;
}
.post-foot a, .posts-group a, a.more, #sidebar a.more {font-weight: normal;}
s
.post-foot span {margin-right: 3px;}

.prev-post {
	float: left;
	width: 45%;
	margin-right: 5%;
	text-align: left;
}

.next-post {
	float: right;
	width: 45%;
	text-align: right;
	position: relative;
	left: -14px;
}

div#post-author  {

	border: 1px solid #D9D9D9;
	padding: 15px;
}

div#post-author h4 {

	background: none;
	border: none;
	margin-bottom: 0;
	font-weight: bold;
}

div#post-author h4 small {
	font-size: 70%;
	font-weight: normal;
}

div#post-author p {
	margin-top: 0;
}

.next-post span, .prev-post span {}

/* tags */
ul.posts-group {
	list-style: none;/* alphabetical list of tags */
	padding-left: 0;
}

/* comments + comments form */

div#comments {
	margin-top: 30px;
	/*border-top: 1px dotted #1D8ACB;*/
}

h4#comments-disallowed, h4#comments-closed, h4#comments-login, h4#comments-empty, h4#no-posts {text-align: center; margin: 45px 0;}

#comments .num-comments-icon {
	float: left;
	position: relative;
	top: 0;
}

/*.CommentForm_text {clear: left;}*/

.num-comments-icon {
	display: inline-block;
	position: relative;
	font-size: 0.857em;
	line-height: 22px;
	height: 20px;
	width: 30px;
	text-align: center;
	z-index: 1;
	font-weight: bold;
	margin-right: 7px;
	display:none;
}

.post-head .num-comments-icon {
	float: right;
	right: -5px;
	margin-left: 5px;
}

/*p.num-comments {display: none;} hide the text showing post's number of comments; using icons instead */

ul.CommentList {
	list-style: none;
	padding-left: 0;
}

p.comment-head, p.post-byline {font-weight: bold;}

div#CommentForm {
	padding: 15px;
	border: 1px dashed #cccccc;
}

div#CommentForm label {
	font-weight: bold;
	padding-bottom: 3px;
}

form#CommentForm_form input:focus, form#CommentForm_form textarea:focus {
	outline: none;
	border:1px dotted #cccccc; 
	padding: 3px;
}

.CommentForm_cite input, .CommentForm_email input, .CommentForm_website input, .CommentForm_text textarea {
	width: 100%;
	margin-top: 0;
	border: 1px solid #cccccc;
	padding: 3px;
}

/* archives */
.archive h3 + .num-posts, .category h3 + .num-posts {
	float: right;
	position: relative;
	top: -45px;
	right: 10px;
}

.posts-group span {margin-left: 3px;}/* also for tags and authors */

/* authors */
.author-photo {
	float: left;
	margin: 0 14px 14px 0;
}

/* rss */
div#recent-posts a.rss, div#recent-comments a.rss {
	position: absolute;
	top: 10px;
	right:14px;
}

a.rss {
	background: url(images/rss-black.png) top left no-repeat;
	height: 14px;
	width: 14px;
	overflow: hidden;
	display: inline-block;
	text-indent: -9999px;
}

div.category .num-posts a.rss {
	position: relative;
	top: 2px;
	margin-left: 4px;
}


/*=== Tablet ===*/
@media (max-width: 767px) {
	div#recent-posts {margin-top: 15px;}
}

/*=== Desktop ===*/


/* ===Other Desktop ===*/


/* ===Large Desktop ===*/

/* === Even Larger Screens ===*/

/*=== main menu ===*/


/*=== headings ===*/



