<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<title>Demo</title>

		<!--  Uncomment for Social Analytics
		<meta property="fb:app_id" content="your_app_id" />
		<meta name="twitter:site" content="@website-username">
		-->

		<!-- Icons -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicon-57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon-72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon-114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon-144.png" />

		<!-- CSS -->
		<link rel="stylesheet" href="styles/bootstrap.min.css">
		<link rel="stylesheet" href="styles/font-awesome.min.css">
		<link rel="stylesheet" href="styles/jssocials.css">
		<link rel="stylesheet" href="styles/jssocials-theme-flat.css?">
		
		<link rel="stylesheet" href="styles/slick.css">
		<link rel="stylesheet" href="styles/slick-theme.css">
		<link rel="stylesheet" href="styles/main.css">
		
		<!-- SEO -->
		<link rel="home" href="https://www.your-domain.com/" />

		<!-- Fonts --> 
		<link href="https://fonts.googleapis.com/css?family=Quattrocento|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab" rel="stylesheet">
	</head>
	<body>
		<div id="logo">
			<a href="/"><img src="images/logo-2018.png" /></a>
		</div>
		<div id="top-bar">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-6 col-md-6 col-sm-6">
		                <div class="topbar-call text-left">
		                    <i class="fa fa-envelope-o theme-color"></i> <a href="mailto:info@fluidstudiosltd.com">info@fluidstudiosltd.com</a></li>
		                    <i class="fa fa-phone"></i> <a href="tel:+441462492244"> 01462 492244</a>
		                </div>
		            </div>
		            <div class="col-lg-6 col-md-6 col-sm-6">
		                <div class="topbar-social text-right">
		                    <a href="#"><img src="images/social.png" /></a>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div id="menu-wrap">
		    <div class="container">
		        <div class="row">
		            <div class="col-12">
		                <nav class="navbar navbar-expand-lg navbar-light bg-light">
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>
						  <div class="collapse navbar-collapse" id="navbarSupportedContent">
						    <ul class="navbar-nav mr-auto">
						    	<li class="nav-item"><a href="/" class="nav-link">Home</a> </li>
						    	<li class="nav-item"><a href="/" class="nav-link">Contact</a> </li>
						    </ul>
						  </div>
						</nav>
		            </div>
		        </div>
		    </div>
		</div>
		<div id="banner-wrap">
			<section class="slider-banner">
				<div><img src='images/test.jpg'></div>
				<div><img src='images/test2.jpg'></div>
			</section>
            <div class="banner-text-wrap">
                <div class="banner-text">
                    Headline
                </div>
            </div>
		</div>
		<main>
			Content
		</main>
		<footer class="container-fluid">
			<div class="row footer-main">
				<div class="col-12 col-md-8 text-center text-md-left">
					Fluid Studios Ltd<br>
					Marquis Business Centre, Royston Rd,<br>
					Baldock, Hertfordshire, SG7 6XL
				</div>
				<div class="col-12 col-md-4 text-center text-md-right">
					<div id="share"></div>
				</div>
			</div>
			<div class="row copyright">
				<div class="col-12 col-md-10 text-center text-md-left">
					&copy; Copyright 2018. <a href="https://www.fluidstudiosltd.com" title="web design hertfordshire" target="_blank">Web design by Fluid</a>. <a href="https://www.bigreach.co.uk" title="seo hertfordshire" target="_blank">SEO by Big Reach.</a>
				</div>
				<div class="col-12 col-md-2 text-center text-md-right">
					<a href="#" class="top">Back to top</a>
				</div>
			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
		   window.jQuery || document.write('<script src="scripts/jquery.min.js"><\/script>');
		</script>
		
		<script src="scripts/popper.min.js"></script>
		<script src="scripts/bootstrap.min.js"></script>
		<script src="scripts/jquery.waitforimages.js"></script>
		<script src="scripts/slick.min.js"></script>
		<script src="scripts/slick.fluid.js"></script>
		<script src="scripts/jssocials.min.js"></script>
		<script>
        $("#share").jsSocials({
			showLabel: false,
			showCount: false,
            shares: ["twitter", "facebook", "googleplus", "linkedin", "pinterest", "whatsapp"]
        });
		</script>
		<script src="scripts/main.js"></script>
	</body>
</html>